/* * {
    box-sizing: content-box;
}
body {
    margin:4px ;
}



#root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   background-image: url("C:\Users\Admin\Desktop\training\solar-system-react-app\public\background.jpg");

}
.annotation{
    transform: translate3d(-50%, -150%, 0);
    text-align: left;
    background: #7676aa;
    color: rgb(7,6,20);
    padding: 16px;
    border-radius: 5px;
    font-size: 2 rem;
}
 */
